
<div class="depot_form">
<%= form_tag do %>
<fieldset>
<legend>Enter Uname and Password</legend>
<table align="left">
<tr>
<td>
Name</td>
<td><%= text_field_tag :name, params[:name] %></td></tr>
<tr>
<td>
Password</td>
<td><%= password_field_tag :password, params[:password] %></td>
</tr>
<tr>
<td>
<%= submit_tag "Login" %></td>

<td>
<%= link_to 'New User?' ,new_user_url%></tr>
<tr>
<td>
<%= link_to 'login using Facebook ID', '/auth/facebook' %></td>
</tr>
</fieldset>
<% end %>
